.already-selected{
	background-color:#e7e7e7;
}
.bg{
	background-color:#fff;
}
#presc_edit{
	line-height:30px;
	font-size: 12px;
	background-image: linear-gradient(bottom, rgb(218,235,225) 25%, rgb(242,245,243) 75%);
	background-image: -o-linear-gradient(bottom, rgb(218,235,225) 25%, rgb(242,245,243) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(218,235,225) 25%, rgb(242,245,243) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(218,235,225) 25%, rgb(242,245,243) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(218,235,225) 25%, rgb(242,245,243) 75%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(218,235,225)),
		color-stop(0.75, rgb(242,245,243))
	);
	padding: 5px 10px 10px 10px;
	min-height:310px;
	margin-left:0;
}
#ajax_progress_indicator{
	position:absolute;
	top:52px;
	left:30.5%;
	z-index:9999;
}
.hidden{
	display:none;
}
.visible{
	display:inline;
}
#search_bar{
	position:absolute;
	top:50px;
	left:30%;
	z-index:9999;
}
#result_of_search{
	position:absolute;
	top:0px;
	left:73px;
}
.ph-entity{
	color:#cc7700;
	border-radius: 15px;
}
.item-hint{
	margin-left:20px;
	color:green;
	text-shadow: 0 0 0.2em #eeeeee, 0 0 0.2em #eeeeee,0 0 0.2em #eeeeee;
}
#drug_instructions{
	min-height:310px;
	min-width:500px;
	font-size:12px;
}
#drug_information_source{
	min-height:100px;
	min-width:500px;
	font-size:12px;
}
#graph{

}
#facts_view{
	min-height:3100px;
	min-width:500px;
	font-size:12px;
}