.already-selected{
	background-color:#e7e7e7;
}
.bg{
	background-color:#fff;
}
#presc_edit{
	line-height:25px;
	font-size: 12px;
	background-color: #eeeeee;
	padding: 5px 10px 10px 10px;
	min-height:310px;
	margin-left:0;
}
#ajax_progress_indicator{
	position:absolute;
	top:52px;
	left:41.5%;
	z-index:9999;
}
.hidden{
	display:none;
}
.visible{
	display:inline;
}
#search_bar{
	position:absolute;
	top:50px;
	left:41%;
	z-index:9999;
}
#result_of_search{
	position:absolute;
	top:0px;
	left:73px;
}
.ph-entity{

}
.item-hint{
	margin-left:20px;
	color:green;
	text-shadow: 0 0 0.2em #eeeeee, 0 0 0.2em #eeeeee,0 0 0.2em #eeeeee;
}